# Python bytecode
__pycache__/
invert_pdf_reader/__pycache__/
# VS Code settings
.vscode/

# PDF input and output
*.pdf

# Test
testing/

# Logs
logs/

# Input and output files
input/
output/

# Environment variables
.env